* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    padding: 0;
    background-color: antiquewhite;
    padding-left: 0%;
    height: 100vh;
  }
  /*color and padding*/
  .contact {
    padding-top: 80px;
    text-align: center;
  }
  #index {
    text-align: center;
    padding-top: 80px;
  }

  h1 {
    color:#BB0019 ;
  }
/*navbar and footer*/
nav{
    display: flex;   
}
.navbar {
    background-color: black;
    position: fixed;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 5;
}
.logo {
margin-left: 5px;
}
.navbar a,
.copyright {
    color: #BB0019;
    font-weight: 700;
}
.navbar-toggler {
    background-color: black; 
    color: #BB0019;
    border: none;
 }
 #navbar-toggler-icon {
     color: #BB0019;
 }
.active {
    color: antiquewhite !important
}
.navbar a:hover {
    color: antiquewhite;
}

form {
    justify-content: flex-end ;
     display: flex;
}
footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    height: 40px;
    right: 15px;
    left: 0px;
    margin: 0;
    width: 100vw;
    z-index: 50;
}

footer ul {
    display: flex;
    justify-content: space-around;
    align-content: space-evenly;
    list-style-type: none;   
}
footer a {
    color: #BB0019;
font-size: large;
}
footer i:hover {
    color:#7798AB;
}
.copyright {
    font-size: x-small;
    color: #BB0019;
    margin-top: 10px;
}
/*index*/
 #hero {
    height: 500px;
    width: 100vw;
    background: url("../images/fire.jpg") no-repeat center center/cover;
    overflow: hidden;
}
#hero #herotext{
   padding-top: 150px;
    color: antiquewhite;
    background-color: rgba(60, 60, 60, 0.6);
    text-align: center;
}
/*contact*/
/*.contact p,
.contact h5 {
font-size: large;
}
.contact h3 {
    font-size: xx-large;
}
.contacttext {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 10%;
    padding-right: 10%;
}
/*gallery*/
/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
  /*  #gallery {
        column-count: 2 !important;     
        column-gap: 0;
    }
   
}
.gallery h1 {
    text-align: center;
    padding-bottom: 10px;
}
.gallery #img {
width: 100%;
padding: 5%;
line-height: 1em;
}

#gallery {
    line-height: 0;
}
.spacing {
    padding-top: 50px;
    padding-bottom: 60px;
}
.spacingsm {
    padding-bottom: 50px;
}
/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
  /*  #gallery {
        column-count: 2 !important;
        
        column-gap: 0;
    }
    #gallery img {
        width: 33% !important;
    }
}